{{ 'section-promotional-popup.css' | asset_url | stylesheet_tag }}

<promotional-popup>
  <promotional-popup-overlay class="promotional-popup__overlay"></promotional-popup-overlay>
  <promotional-popup-wrapper class="promotional-popup__wrapper" data-author="FA">
    <close-button class="close-button">&times;</close-button>
    {% if section.settings.popup_link != blank %}
      <a href="{{ section.settings.popup_link }}" class="promotional-popup__link">
    {% else %}
      <div class="promotional-popup__container">
    {% endif %}
    {% if section.settings.desktop_popup_image != blank %}
      {% render 'responsive-picture',
        desktopImage: section.settings.desktop_popup_image,
        mobileImage: section.settings.mobile_popup_image,
        img-class: 'promotional-popup__image'
      %}
    {% else %}
      {{  'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg promotional-popup__placeholder'}}
    {% endif %}
    {% if section.settings.popup_link != blank %}
      </a>
    {% else %}
      </div>
    {% endif %}
  </promotional-popup-wrapper>
</promotional-popup>

<script src="{{ 'promotional-popup.js' |  asset_url }}" defer></script>

{% schema %}
{
  "name": "Promotional popup",
  "tag": "section",
  "class": "promotional-popup-section",
  "enabled_on": {
    "groups": ["footer"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Promotional popup settings",
      "info": "This promotional popup is designed to appear once per user session. Utilize the settings below to customize the popup's images and link."
    },
    {
      "type": "image_picker",
      "id": "desktop_popup_image",
      "label": "Popup image (desktop)",
      "info": "Recommended image dimenisions: 1080 x 1080 pixels"
    },
    {
      "type": "image_picker",
      "id": "mobile_popup_image",
      "label": "Popup image (mobile)",
      "info": "Recommended image dimenisions: 275 x 275 pixels"
    },
    {
      "type": "url",
      "id": "popup_link",
      "label": "Popup link"
    }
  ],
  "presets": [
    {
      "name": "Promotional popup"
    }
  ]
}
{% endschema %}
